:root {
	--primary-color: rgb(194, 85, 85);
}
body {
	background: white;
	margin: 0;
	padding: 0;
	font-family: "Sans serif";
	// overflow: hidden;
}
.flex {
	display: flex;
}
div {
	overflow: hidden;
}
section {
	width: 100%;
	// height: 100vh;
	margin: 0;
	// padding-top: 200px;
	padding: 5em 2em;
	text-align: center;
	// overflow: hidden;
	position: relative;

	&::after {
		background: linear-gradient(-45deg, #ffffff 10px, transparent 0),
			linear-gradient(45deg, #ffffff 10px, transparent 0);

		background-position: left-bottom;
		background-repeat: repeat-x;
		background-size: 32px 32px;
		content: " ";
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 32px;
	}
}
h1,
h3 {
	font-family: "Dancing script";
	font-size: 50px;
	margin-bottom: 0;
}
h3,
h2 {
	color: var(--primary-color);
	font-size: 50px;
	// margin-bottom: 0;
}
a {
	color: #444444;
	cursor: pointer;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header-section {
	background-image: linear-gradient(
			rgba(12, 13, 14, 0.7),
			rgba(12, 13, 14, 0.7)
		),
		url(../img/promo_slide_1.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	text-align: center;
	text-transform: capitalize;

	.banner-section {
		background-image: linear-gradient(
				rgba(12, 13, 14, 0.7),
				rgba(12, 13, 14, 0.7)
			),
			url(../img/promo_slide_1.jpg);
	}

	img {
		width: 100%;
		height: 100%;
		position: relative;
	}

	.img-section {
		flex-basis: 32%;
		position: relative;
	}
	header {
		// height: 10%;
		margin: 0.5em;
		align-items: center;
		.container {
			display: flex;
			justify-content: space-evenly;
		}
		ul {
			list-style: none;
			display: flex;
			// justify-content: space-between;
		}
		li {
			display: flex;
			place-content: center;
			img {
				width: 10px;
				height: 20px;
			}
		}
		a {
			color: white;
			font-size: 1em;
			padding: 0.1em 1em;
			text-decoration: none;
		}
		.booktable {
			width: 100%;
			background: var(--primary-color);
			color: white;
			text-decoration: none;
			// padding: 0.1em 0.3em;
			font-size: 0.9em;

			font-weight: bold;
			display: inline-block;

			&:hover {
				background: var(--primary-color);
				color: white;
			}
		}
		.primary {
			place-content: center;
		}
	}
}
.navbar {
	width: 80%;
	.container {
		margin: 0;
		width: 100%;
		position: fixed;
		background: transparent;
		// padding: 1em;
		z-index: 999;
		display: flex;
		align-items: "center";
		place-content: space-between;
	}
	nav {
		display: flex;
		justify-content: space-evenly;
		background: transparent;
		position: unset;
		height: auto;
		width: 100%;
		padding: 10px;

		ul {
			display: flex;
			text-decoration: none;
		}
		a {
			color: black;
			font-size: 1em;
			padding: 0.1em 1em;
		}
		ul.primary-nav {
			flex-basis: 15%;
			margin: 0;
		}

		li {
			a {
				color: white;
				text-decoration: none;
				display: block;
				padding: 0.9em;
				font-size: 1em;
				text-align: right;
				text-transform: uppercase;
				align-items: center;

				&:hover {
					font-weight: bold;
					color: var(--primary-color);
				}
			}
		}

		li.current a {
			list-style-type: none;
			// font-weight: bold;
		}
	}
}
.active {
	nav {
		margin-bottom: 0.8em;
		&::before {
			background: linear-gradient(45deg, #000000 19px, transparent 0),
				linear-gradient(-45deg, #000000 19px, transparent 0);

			background-position: top right;
			background-repeat: repeat-x;
			background-size: 32px 32px;
			content: " ";
			display: block;
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 100%;
			height: 32px;
		}
		background: white;
		li {
			a {
				color: black;
			}
		}
	}
}
.promo-section {
	// width: 100%;
	height: 100%;
	margin: 0;

	background-image: linear-gradient(
			rgba(12, 13, 14, 0.7),
			rgba(12, 13, 14, 0.7)
		),
		url(../img/blog-1.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	align-items: center;
	.promo-card {
		margin-top: 3em;
		// .slick-list {
		// 	// align-items: center;
		// 	// justify-content: center;
		// }
		.slick-dots {
			bottom: 100px;

			li button:before {
				font-size: 20px;
				color: white;
				// opacity: 0.7;
			}
		}
		.promo-card-content {
			text-align: left;
			background: #ffffff;
			color: #000000;
			display: inline-block;
			width: 20%;
			padding: 2em;
			right: -6%;
			top: -20em;
			position: relative;
		}
		img {
			width: 50%;
			height: 20%;
		}
		.order-now {
			background: white;
			color: var(--primary-color);
			text-decoration: none;
			padding: 0.1em 1em;
			font-size: 1.4em;
			border: var(--primary-color) 1px solid;
			font-weight: 200;
			display: inline-block;

			&:hover {
				background: var(--primary-color);
				color: white;
			}
		}
	}
}

.title {
	padding-bottom: 0;
	// justify-content: center;
	// text-align: center;
	.story {
		margin: 3.5em;
		column-count: 2;
		column-gap: 50px;
		text-align: left;
	}
	.story-border {
		width: 100%;
	}
	p:first-letter {
		float: left;
		font-size: 45px;
		line-height: 1;
		font-weight: bold;
		margin-right: 9px;
		color: black;
		font-family: "Times New Roman", Times, serif;
		// text-shadow: #690 0.05em 0.05em;
	}
	&::after {
		background: linear-gradient(-45deg, #000000 16px, transparent 0),
			linear-gradient(45deg, #000000 16px, transparent 0);

		background-position: top right;
		background-repeat: repeat-x;
		background-size: 32px 32px;
		content: " ";
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 32px;
	}
}
.book-table-section {
	// width: 100%;
	// height: 100%;

	background-image: linear-gradient(
			rgba(12, 13, 14, 0.7),
			rgba(12, 13, 14, 0.7)
		),
		url(../img/blog-1.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	text-align: center;
	text-transform: capitalize;
	h3 {
		color: white;
		font-size: 50px;
	}
	// .book-now {
	// 	background: white;
	// 	color: var(--primary-color);
	// 	text-decoration: none;
	// 	padding: 0.4em 2.3em;
	// 	font-size: 1.4em;

	// 	font-weight: bold;
	// 	display: inline-block;

	// 	&:hover {
	// 		background: var(--primary-color);
	// 		color: white;
	// 	}
	// }
}
.book-now {
	background: white;
	color: var(--primary-color);
	text-decoration: none;
	padding: 0.4em 2.3em;
	font-size: 1.4em;

	font-weight: bold;
	display: inline-block;

	&:hover {
		background: var(--primary-color);
		color: white;
	}
}
hr.solid {
	border-top: 3px solid #bbb;
}
.bottom_border {
	border-bottom: 1px solid #323f45;
	margin: 0.6em;
}

.gallery-section {
	text-align: center;
	font-size: 30px;
	font-weight: 800;
	color: var(--primary-color);
	font-style: italic;

	&::after {
		background: linear-gradient(-45deg, #000000 16px, transparent 0),
			linear-gradient(45deg, #000000 16px, transparent 0);

		background-position: top right;
		background-repeat: repeat-x;
		background-size: 32px 32px;
		content: " ";
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 32px;
	}
}

.footer {
	// width: 100%;
	height: 100%;
	background-image: linear-gradient(
			rgba(12, 13, 14, 0.7),
			rgba(12, 13, 14, 0.7)
		),
		url(../img/footer.png);
	background-position: center;
	background-size: cover;
	position: relative;
	text-align: center;
	color: white;
	font-weight: 100;

	a,
	p {
		text-decoration: none;
		color: var(--primary-color);
	}
	address {
		margin: 2em;
		padding: 2em;
		font-style: normal;
		font-size: 16px;
	}
	.footer-list {
		margin: 1em;
		place-content: center;
		// display: flex;
		// justify-content: space-between;
	}
	.container {
		display: flex;
		place-content: space-between;
		background: none;
		position: unset;
		height: auto;
		width: 100%;
		padding: 0;
	}
	ul {
		display: flex;
		justify-content: space-between;
	}
	a {
		color: var(--primary-color);
		font-size: 1em;
		padding: 0.1em 1em;
	}
}

.social-links {
	display: flex;
	grid-gap: 25px;
	justify-content: center;
}
.secondary {
	display: flex;
	grid-gap: 10px;
	justify-content: center;
	height: 12%;
}
.chef-section {
	&::after {
		background: linear-gradient(45deg, #000000 16px, transparent 0),
			linear-gradient(-45deg, #000000 16px, transparent 0);

		background-position: top right;
		background-repeat: repeat-x;
		background-size: 32px 32px;
		content: " ";
		display: block;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 32px;
	}
	.redimg {
		width: 20%;
	}
	div {
		// flex-basis: 32%;
		display: inline-block;
		margin-top: 1.5em;
		// justify-content: space-between;
	}

	figure {
		margin: 0.3em;
		position: relative;

		figcaption {
			margin-top: 1em;
		}
		.name {
			font-size: 14px;
			font-weight: bold;
		}
		.desc {
			font-size: 13px;

			font-style: normal;
		}
	}
}

.latest-news {
	// width: 100%;
	height: 100%;
	background-image: linear-gradient(
			rgba(12, 13, 14, 0.7),
			rgba(12, 13, 14, 0.7)
		),
		url(../img/blog-2.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	text-align: center;
	color: white;
	font-weight: 100;

	.carasouel-width {
		width: 75%;
		// justify-items: initial;
		margin-left: 10em;
		margin-top: 2em;
	}
}
.news-card {
	display: flex;
	justify-content: space-between;
}

.card-content {
	background: #ffffff;
	color: #000000;
}
.card-image {
	height: 180px;
	img {
		height: 250px;
		width: 100%;
	}
}

.e-card {
	width: 300px;
	margin: auto;
}
.e-card-content {
	align-content: center;
	background: #ffffff;
	color: #000000;
	padding-top: 1em;
	padding-bottom: 1em;
	h4 {
		&::after {
			content: "";
			justify-content: center;
			width: 20%;
			height: 2px;
			bottom: -12px;
			background: var(--primary-color);
			display: block;
			margin: auto;
			position: relative;
		}
	}
}
.layer {
	background-image: linear-gradient(
		rgba(12, 13, 14, 0.7),
		rgba(12, 13, 14, 0.7)
	);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
	// &:hover {
	// 	background: gray;
	// }
}
.img__description {
	height: 80%;
	position: absolute;
	top: -16px;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(54, 55, 56, 0.72);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	display: flex;
	flex-direction: column;

	align-items: right;
	justify-content: right;

	/* transition effect. not necessary */
	transition: opacity 0.2s, visibility 0.2s;

	/* transition effect. not necessary */
}

.img__wrap:hover .img__description {
	visibility: visible;

	opacity: 1;
}

.img__description {
	transition: 0.2s;
	transform: translatex(1em);
}

.img__wrap:hover .img__description {
	transform: translateY(0);
}
.chef-social {
	height: "30%";
	background: none;
	display: grid;
	grid-row-gap: 2em;
	top: auto;
	padding-top: 2em;
	padding-right: 1em;
	justify-content: right;

	img {
		&:hover {
			background: var(--primary-color);
			cursor: pointer;
		}
	}
}

.tab1 {
	background: white;
	color: black;
	text-decoration: none;
	padding: 0em 1em;
	font-size: 1.4em;
	border: 1px solid black;
	font-weight: bold;
	display: inline-block;

	&:hover {
		background: var(--primary-color);
		color: white;
	}
}
.tablist {
	.tab {
		border: 0;
	}
	border: 0;
}

.bannerdescription {
	width: 120%;
	height: 100%;
	position: absolute;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 1em;
	// right: 0;
	// background: rgba(54, 55, 56, 0.72);
	color: #fff;
	// visibility: hidden;
	// opacity: 0;
	// display: flex;
	// flex-direction: column;

	// align-items: right;
	// justify-content: right;

	/* transition effect. not necessary */
	// transition: font 2s, height 4s;

	/* transition effect. not necessary */
	h1 {
		margin-bottom: 40px;
	}
	p {
		font-size: 50px;
		line-height: 18px;
		margin-top: 20px;
	}
}
.img__wrap .bannerdescription {
	visibility: visible;

	opacity: 1;
}

.bannerdescription {
	transition: 0.2s;
	transform: translatex(1em);
}

.img__wrap .bannerdescription {
	transform: translateY(0);
}

.banner1,
.banner2,
.banner3 {
	background-image: linear-gradient(
			rgba(12, 13, 14, 0.7),
			rgba(12, 13, 14, 0.7)
		),
		url(./../img/promo_slide_1.jpg);
	z-index: 888;
	// height: 100%;
	// width: 100%;
	// position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
	height: 100vh;
	width: 100%;
	position: relative;
	left: 0;
	top: 0;
	// opacity: 1;

	img {
		// background-image: linear-gradient(
		// 	rgba(12, 13, 14, 0.7),
		// 	rgba(12, 13, 14, 0.7)
		// );
		width: 120%;
		position: relative;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
.banner1 {
	animation: slide1 12s linear infinite;
}
.banner2 {
	animation: slide2 12s linear infinite;
}
.banner3 {
	animation: slide3 12s linear infinite;
}
// @keyframes slide1 {
// 	0% {
// 		visibility: visible;
// 	}
// 	25% {
// 		visibility: hidden;
// 	}
// 	50% {
// 		visibility: hidden;
// 	}
// 	75% {
// 		visibility: hidden;
// 	}
// 	100% {
// 		visibility: visible;
// 	}
// }
// @keyframes slide2 {
// 	0% {
// 		visibility: hidden;
// 	}
// 	25% {
// 		visibility: hidden;
// 	}
// 	50% {
// 		visibility: visible;
// 	}
// 	75% {
// 		visibility: hidden;
// 	}
// 	100% {
// 		visibility: hidden;
// 	}
// }

// @keyframes slide3 {
// 	0% {
// 		visibility: hidden;
// 	}
// 	25% {
// 		visibility: hidden;
// 	}
// 	50% {
// 		visibility: hidden;
// 	}
// 	75% {
// 		visibility: visible;
// 	}
// 	100% {
// 		visibility: hidden;
// 	}
// }

//tabs
.tab-list {
	display: flex;
	flex-direction: row;
	gap: 0.6em;
	justify-content: center;
	// border-bottom: 1px solid #ccc;
	padding-left: 0;
	transition: 2s linear;

	// background: gray;
}

.tab-list-item {
	display: inline-block;
	list-style: none;
	border: 1px solid #ccc;
	margin-bottom: -1px;
	padding: 0.5rem 0.75rem;

	&:hover {
		cursor: pointer;
		background: var(--primary-color);
		color: white;
	}
}

.tab-list-active {
	background: var(--primary-color);
	color: white;

	// background-color: white;
	// border: solid #ccc;
	// border-width: 1px 1px 0 1px;
}

.menucard-section {
	ul {
		width: 90%;
		display: block;
	}
	li {
		display: flex;
		justify-content: space-between;
		text-align: center;
		padding: 2em 1em;
		width: 100%;
		margin: 0 auto 1em auto;
		&::before {
			content: "-";
			position: absolute;
			margin-left: -4px;
		}
	}
	h4 {
		text-align: left;
	}
	img {
		width: 5em;
		height: 5em;
		border: 5px solid rgb(158, 158, 158);
		border-radius: 50%;
		align-content: left;
		margin-top: 1.5em;
		margin-right: 1em;
	}
	.m0p0 {
		text-align: left;
		margin: 0;
		padding: 0;
	}
	.items-ul {
		// width: 70%;
		margin-left: 1em;
		column-count: 3;
		font-size: 14px;
	}
	// &::after {
	// 	background: linear-gradient(-45deg, #000000 16px, transparent 0),
	// 		linear-gradient(45deg, #000000 16px, transparent 0);

	// 	background-position: top right;
	// 	background-repeat: repeat-x;
	// 	background-size: 32px 32px;
	// 	content: " ";
	// 	display: block;
	// 	position: absolute;
	// 	bottom: 0px;
	// 	left: 0px;
	// 	width: 100%;
	// 	height: 32px;
	// }
}

@keyframes tabsanimate {
	from {
		transform: translate(5%, 10%);
		opacity: 0;
	}

	to {
		transform: translate(0%, -10%);
		opacity: 1;
		// width: 100%;
	}
}

.tab-content {
	width: 80%;
	display: inline-flex;
	flex-basis: 15%;
	flex-wrap: wrap;
	justify-content: center;

	animation-duration: 2s;
	animation-name: tabsanimate;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

//slideni

span {
	animation-duration: 4s;
	animation-name: slidein;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
}

@keyframes slidein {
	0% {
		margin-left: 100%;
		align-content: center;
		width: 300%;
		font-size: 1.3em;
	}
	// 25% {
	// 	align-content: center;
	// 	font-size: 2em;
	// 	margin-left: 100%;
	// 	width: 100%;
	// }
	50% {
		align-content: center;
		font-size: 2em;
		margin-left: 100%;
		width: 100%;
	}
	75% {
		align-content: center;
		font-size: 2em;
		// margin: 50%;
		margin-right: 100%;
		width: 100%;
	}

	to {
		align-content: center;
		margin-bottom: 100%;

		font-size: 1em;
		width: 100%;
	}
}

//banner new
.banner {
	width: 110%;
	height: 100vh;
	position: relative;
	padding: 0;
	// overflow: hidden;
}
.slider {
	width: 110%;
	height: 100vh;
	position: absolute;
	top: 0;
}
#slideImg {
	width: 120%;
	height: 100vh;
}
.overlay {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	top: 0;
	position: absolute;
}
.content {
	width: 60%;
	// margin: , auto, 0;
	text-align: center;
	color: #fff;
}
.styles_scroll-to-top__2A70v {
	background-color: red;
}
.scroll-top {
	color: #6f00ff;
}
